.star {
  position: relative;
  display: block;
  color: yellow;   /* main color for star */
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;   /* top point */
  border-left: 50px solid transparent;
  transform: rotate(35deg);
  margin: 100px;   /* just to center it a bit */
}

/* left upper point */
.star::before {
  content: "";
  position: absolute;
  top: -60px;
  left: -50px;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
  border-left: 50px solid transparent;
  transform: rotate(-70deg);
}

/* right upper point */
.star::after {
  content: "";
  position: absolute;
  top: -60px;
  left: -50px;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
  border-left: 50px solid transparent;
  transform: rotate(70deg);
}
