/*  your css code here. If applicable */
.star{
  border-bottom: 100px solid rgb(255, 255, 0);
  border-left: 50px ;
	 width: 0;
  height: 0;
  border-right: 50px soild transparent;
	font-size:100px solid transparent;
	color:yellow;
	
}